a {
    text-decoration: none;
    color: black;
}


nav{
   
  margin: auto;
  z-index: 99;
  width: 80%;
 text-align: center;
  background-color: white;
  margin-top: 2%;
  margin-bottom: 2%;
}

nav .wrapper{
  position: relative;
  max-width:100%;
  /* padding: 0px 30px; */
  height:70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.wrapper .logo a{
  color:#242526;
 
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
 margin-bottom: -200px;
 margin-top: 20px;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{

  color: #3A3B3C;
  text-decoration: none;
  font-size:medium;
  font-weight:530;
  padding: 9px 15px;
font-stretch:ultra-expanded;

 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
 
  text-decoration: underline;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background-color: white;
  width: 180px;
  line-height: 10px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 47px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position: absolute;
  left: 0;
  width:100%;
  background: white;
  background-size: 100% 100%;
  padding: 0 30px;
  margin-top: 7%;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background-color: white;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 30px;
}
.content .row img{
  width: 100%;
  height: 90%;
  padding: 4px;
  object-fit: cover;
}
.content .row header{
  color:#333f48;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0px 20px;
  color:#333f48;
  font-size: 17px;
  display: block;
}

.wrapper .btn{
  color: #fff;
  font-size: 10px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}
nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 40px;
  font-weight: 600;
}

 #content{
  display:grid;
  grid-template-columns: repeat(5,1fr);
} 

#content img{
  display: flex;
  width: 180px;
  height: 180px; 
  
}

#upper{
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  align-content: center;
   gap:4%; 
  color:#333f48;
  margin-top: 10%;
  margin-bottom:-2%;
  text-decoration: none; 
  
}
#upper i{
  font-size:x-large;
  color:rgba(0, 0, 0, 0.696);

}
#upper>a:nth-child(1)
{
  width:50%;
  height:70px;
}
.add
{
  display: flex;
   align-items: center; 
   height: 80%;
  width:100%;
 border: 2px solid ;
 border-color: #333f48;
 color: #3A3B3C;
}

 #inputtag{
  display: flex;
  width:80%;
  border: none;
  font-size:large;
  font-weight: 500;
  outline: none;
  text-decoration: none;
  text-align: center;
  border: white;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.logo img{
  display: flex;
height:200px;
  width: 200px;
}

.desktop-item{
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color:
 #d50032;
 font-size:medium;
}
.desktop-item:hover{
  text-decoration: underline;
}
.row header{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:xx-large;
  font-weight:900;
}
.sizebox>.mega-links{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  text-decoration: underline;

  color:
#333f48;
font-size: xx-large;
font-weight: 900;
text-decoration-style: solid;
text-underline-offset:20%;
}
nav+hr {
  margin-top: 4.5%;
}

@media screen and (max-width:1106px)
{
  .nav-links li a{
    font-size: 16px;
    padding: 0px 8px;
  }
}
@media screen and (max-width:982px)
{
  .nav-links li a{
    font-size: 15px;
    padding: 0px 8px;
  }
}
@media screen and (max-width: 970px) {

  .wrapper .btn{
    display: block;
  }
  #upper>a>i{
    visibility: hidden;

  }
  /* #upper button{
    display: flex;
    width:100%;
    height:30%;
    margin-left: 40%;
    margin-top:-1%;
  }
  #upper button p{
    color:#9cacbe;
    font-size:medium;
    font-weight: 200;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  } */
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
  .upper{
      display: flex;
      align-items: center;
  }
}
@media screen and (max-width:641px)
{

.logo img{
  height: 150px;
  width: 150px;

}
.add{
visibility: hidden;
}

#upper>a>i{

visibility: visible;

}

.logo{
margin-left:-10%;
margin-right: -30%;
}
}
@media screen and(max-width:400px)
{
.logo img{
  height: 90px;
  width: 90px;

}
.sign>p{
  font-size: smaller;
}
#upper>a>i{
  font-size: small;
}
}