
footer{
    /* position: fixed; */
    background:#f0f0f0;
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: none;
    text-decoration: none;
    line-height: 20px;
    border-top:5px solid #d50032;
   
     
    
   
  }
  
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  
    
  
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color:#333f48;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    margin-bottom: 10px;
    position: relative;
  }
  
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    
    color: black;
    
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease;
    font-size:14px;
  font-weight: 300;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: #0F0844;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
 
  .prep{
    width: 80%;
    margin: auto;
    color: #333f48;
    font-size:14px;
    text-align: center;
    margin-bottom: 20px;
  }
  #connect{
    display: flex;
    gap:3%;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    text-decoration: none;
  }
  #connect i{
    font-size:x-large;
    text-decoration: none;
    color: #333f48;
    
  }
  #connect p{
    font-size:14px;
    font-weight: 300; 
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #333f48;
  text-decoration: none;
  }
  #connect a:hover{
    text-decoration: none;
  }
  .hey1{
    display: flex;
    justify-content: center;
    gap:20px;
  }
  .box-input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #333f48;
  text-decoration: none;
  font-size:14px;
  font-weight: 300;
  
  }
  .hey2{
    display: flex;
    justify-content: space-between;
  }
  .hey3{
    display: flex;
    justify-content: space-between;
  }
  .hey3 hr{
    transform: rotate(180deg);
    margin-right: 15px;
    margin-left: 5px;
    text-decoration: solid;
    font-weight: 500;
    font-size: larger;
    text-decoration-line: solid;
    text-decoration-thickness:inherit;
    /* border:thick */
    /* border: 2px; */
    height: 20px;
    /* width: 4px; */
  }
  
  .hey1>div>img{
  display: flex;
  height: 80px;
  width: 120px;
  }
  .hey3+p{
    text-align: center;
  }
  .image2{
    display: flex;
    justify-content: center;
  }
  .linkblue a{
    text-decoration: underline;
    color: #333f48;
    font-weight: 540;
    text-underline-offset:5px;
    font-size:13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  @media (max-width:900px)
  {
    footer .content .link-boxes {
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;
  }

  footer {
      align-items: center;
      margin: auto;
  }

  .content {
      align-items: center;
      justify-content: center;
      margin: auto;
  }
  }
  
  @media (max-width: 700px){
  footer {
    position: relative;
}

.content .top .logo-details {
    font-size: 26px;
}

.content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
}

footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
}

footer .content .link-boxes .input-box {
    width: 60%;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
    font-size: 12px;
}
  }
  @media (max-width: 520px) {
    footer::before {
        top: 145px;
    }

    footer .content .top {
        flex-direction: column;
    }

    .content .top .media-icons {
        margin-top: 16px;
    }

    footer .content .link-boxes .box {
        width: calc(100% / 2 - 10px);
    }

    footer .content .link-boxes .input-box {
        width: 100%;
    }
  }